<table class="table table-striped">
	<thead class="bg-secondary">
	<tr class="table-first-row">
		<th>№</th>
		<th>Name:</th>
		<th>Model:</th>
		<th>Manufacturer:</th>
		<th>Class:</th>
		<th>Length:</th>
		<th>Cargo capacity:</th>
		<th>Credits cost:</th>
	</tr>
	</thead>
	<tbody>
	<tr *ngFor="let currentVehicle of VehiclesList.results; index as number" class="shadow-on-hover">
		<td class="font-weight-bolder">{{number + 1}}</td>
		<td>{{currentVehicle.name}}</td>
		<td>{{currentVehicle.model}}</td>
		<td>{{currentVehicle.manufacturer}}</td>
		<td class="text-capitalize">{{currentVehicle.vehicle_class}}</td>
		<td>{{currentVehicle.length}}</td>
		<td>{{currentVehicle.cargo_capacity}}</td>
		<td>{{currentVehicle.cost_in_credits}}</td>
	</tr>
	</tbody>
</table>
